<body class="game">

    {{>playerInfo}}

    <img src="/res/img/spr_miñano_default.png" id="skin_miñano" class="minano respiracion">
    {{>setSkin}}
    {{>toolbox}}
    {{>skins}}
    {{>games}}
</body>