<span style="color:#009999;">------------------------[</span> <span style="color:white;">COMANDOS DISPONIBLES:</span> <span style="color:#009999;">]------------------------</span><br>
<span style="color:white;"> help<span style="color:grey">:</span></span> Muestra los comandos disponibles<br>
<span style="color:white;"> ls<span style="color:grey">:</span></span>  Muestra los ficheros existentes en el Coffee-Shell<br>
<span style="color:white;"> buy<span style="color:grey">:</span></span> Comprar item.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usa <i style="color:gold">buy -c</i> para comprar un café<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o <i style="color:gold">buy -s</i> para comprar una skin<br>
<span style="color:white;"> :q<span style="color:grey">:</span></span> Salir del bloque 4<br>
<span style="color:#009999;">-------------------------------------------------------------------------<br></span><br><br>