<form id="deepfried" action="/play" method="post">
    <input type="text" name="skin" value="deepfried" style="display:none;">
</form>
<form id="default" action="/play" method="post">
    <input type="text" name="skin" value="default" style="display:none;">
</form>
<form id="whitebear" action="/play" method="post">
    <input type="text" name="skin" value="whitebear" style="display:none;">
</form>
<form id="mi침or" action="/play" method="post">
    <input type="text" name="skin" value="mi침or" style="display:none;">
</form>
<form id="mi침and" action="/play" method="post">
    <input type="text" name="skin" value="mi침and" style="display:none;">
</form>
<form id="minor" action="/play" method="post">
    <input type="text" name="skin" value="minor" style="display:none;">
</form>
<form id="minand" action="/play" method="post">
    <input type="text" name="skin" value="minand" style="display:none;">
</form>
<form id="mi침an420" action="/play" method="post">
    <input type="text" name="skin" value="mi침an420" style="display:none;">
</form>
<form id="errorTextura" action="/play" method="post">
    <input type="text" name="skin" value="errorTextura" style="display:none;">
</form>

<div class="modal fade" id="cafe" tabindex="-1" role="dialog" aria-labelledby="cafe" aria-hidden="true"
    style="font-family: 'Ubuntu Mono', monospace;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="card-deck">

                    <div class="card card-skins" style="width: 18rem;"
                        onclick="document.getElementById('default').submit();">
                        <img src="/res/img/spr_mi침ano_default.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침ano Default</h5>
                            <p class="card-text skin-desc">classic mi침ano</p>
                        </div>
                    </div>

                    <div class="card card-skins {{#unless hasDeepfried}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasDeepfried}} onclick="document.getElementById('deepfried').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침ano_deepfried.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침ano Deepfried</h5>
                            <p class="card-text skin-desc">游눮游눮游눮游눮游뱎游뱎游뱎游뱎.</p>
                        </div>
                    </div>


                    <div class="card card-skins {{#unless hasWhiteBear}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasWhiteBear}} onclick="document.getElementById('whitebear').submit();" {{/if}}>
                        <img src="/res/img/spr_mi침ano_whitebear.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침ano White Bear</h5>
                            <p class="card-text skin-desc">Skin con un gui침o de la serie Black Mirror.</p>
                        </div>
                    </div>

                </div>

                <div class="card-deck">

                    <div class="card card-skins {{#unless hasMinnanor}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasMinnanor}} onclick="document.getElementById('mi침or').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침or.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침anOR</h5>
                            <p class="card-text skin-desc">||</p>
                        </div>
                    </div>

                    <div class="card card-skins {{#unless hasMinnand}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasMinnand}} onclick="document.getElementById('mi침and').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침and.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침AND</h5>
                            <p class="card-text skin-desc">&&</p>
                        </div>
                    </div>

                    <div class="card card-skins {{#unless hasMinor}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasMinor}} onclick="document.getElementById('minor').submit();"{{/if}}>
                        <img src="/res/img/spr_minor.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Minor</h5>
                            <p class="card-text skin-desc">!OR</p>
                        </div>
                    </div>

                </div>

                <div class="card-deck">

                    <div class="card card-skins {{#unless hasMinand}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasMinand}} onclick="document.getElementById('minand').submit();"{{/if}}>
                        <img src="/res/img/spr_minand.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">MiNAND</h5>
                            <p class="card-text skin-desc">!AND</p>
                            <form id="minand" action="/play" method="post">
                                <input type="text" name="skin" value="minand" style="display:none;">
                            </form>
                        </div>
                    </div>

                    <div class="card card-skins {{#unless hasMinan420}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasMinan420}} onclick="document.getElementById('mi침an420').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침an420.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Mi침an420</h5>
                            <p class="card-text skin-desc">smoke weed everyday!</p>
                            <form id="mi침an420" action="/play" method="post">
                                <input type="text" name="skin" value="mi침an420" style="display:none;">
                            </form>
                        </div>
                    </div>

                    
                    <div class="card card-skins {{#unless hasSkinError}} blur {{/unless}}" style="width: 18rem;"
                       {{#if hasSkinError}}  onclick="document.getElementById('errorTextura').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침ano_errorTexture.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">SKIN ERROR</h5>
                            <p class="card-text skin-desc">쯢 no?</p>
                        </div>
                    </div>

                </div>

                <div class="card-deck">
                    <div class="card card-skins {{#unless hasGitHub}} blur {{/unless}}" style="width: 18rem;"
                        {{#if hasGitHub}} onclick="document.getElementById('github').submit();"{{/if}}>
                        <img src="/res/img/spr_mi침ano_github.png" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit">Github Mi침ano</h5>
                            <p class="card-text skin-desc">git commit</p>
                        </div>
                    </div>

                    <div class=" blur card card-skins" style="width: 18rem;">
                        <img src="" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                            <h5 class="card-title skin-tit"></h5>
                            <p class="card-text skin-desc"></p>
                        </div>
                    </div>

                    <div class=" blur card card-skins" style="width: 18rem;">
                        <img src="" class="card-img-top">
                        <div class="card-body d-flex flex-column card-skins-body">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>