
<body class="login">

    <div class="capa_login">

        <div class="bgnegro-st colorblanco f-iniciosesion rounded " style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <form class="form-signin" action="/registrarse" method="POST">
            <div class="text-center mb-4">
              <img src="/res/img/miñanox-logo-alt.png">           
            </div>
          
            <div class="form-label-group">
              <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Willyrex" required autofocus>
              <label for="inputEmail">Nombre de usuario</label>
            </div>
          
            <div class="form-label-group">
              <input type="password" name="password" id="pwd" class="form-control" placeholder="Introduce una contraseña" required>
              <label for="inputPassword">Contraseña</label>
            </div>
          
            <center><input type="image" class="jugar-launcher" src="/res/img/b_play.png"  onmouseover="this.src='/res/img/b_play_hover.png';"
                onmouseout="this.src='/res/img/b_play.png';">          
            <span style="margin-top:10px;"><br>¿Tienes ya una cuenta? <a href="login">Inicia sesión</a>
            <small style="opacity: 0.5; font-size: 10px;"><br>Asegura haber configurado antes la base de datos</small></span></center>  
          </form>
        </div>

    </div>

</body>
